<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>Microblog</title>
        {% endif %}
    </head>
    <body>
        <div>Microblog: <a href="/index.html">Home</a></div>
        <hr>
        <!--`block` control statement define the place where the derived templates can insert themselves-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>